<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request List</title>

    <link rel="icon" href="../../../static/media/favicon/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="../../../static/css/base.css">
    <link rel="stylesheet" href="../../../static/css/pages/request-list.css">
</head>
<body>
    <header class="header">
        <div class="header__container">
            <a href="" class="header__logo" aria-label="Go to homepage">
                <img src="../../../static/media/svg/logo/logo-mrh.svg" alt="App Logo" class="header__logo-image">
            </a>
            <h1 class="header__title">
                Mesas de Recursos Humanos
            </h1>
        </div>
    </header>

    <aside class="sidebar">
        <nav class="sidebar__nav" aria-label="Main navigation">
            <ul class="sidebar__list">
                <!-- Items for admin only -->
                <li class="sidebar__item">
                    <a href="../admin/pending-request-list.html" class="sidebar__link activated">
                        <i class="fa-solid fa-bell sidebar__icon"></i>
                        <span class="sidebar__text">Solicitudes</span>
                    </a>
                </li>

                <li class="sidebar__item">
                    <a href="../admin/worker-list.html" class="sidebar__link">
                        <i class="fa-solid fa-user-tie sidebar__icon"></i>
                        <span class="sidebar__text">Trabajadores</span>
                    </a>
                </li>

                <!-- Item for workers only -->
                <li class="sidebar__item d-none">
                    <a href="../workers/desks.html" class="sidebar__link">
                        <i class="fa-solid fa-thumbtack sidebar__icon"></i>
                        <span class="sidebar__text">Mesas</span>
                    </a>
                </li>

                <!-- Items for all profiles -->
                <li class="sidebar__item">
                    <a href="#" class="sidebar__link">
                        <i class="fa-solid fa-book sidebar__icon"></i>
                        <span class="sidebar__text">Manual de usuario</span>
                    </a>
                </li>

                <li class="sidebar__item last-item">
                    <button class="sidebar__link show-modal" aria-controls="myModal" aria-haspopup="dialog" data-modal="logout">
                        <i class="fa-solid fa-arrow-right-to-bracket sidebar__icon"></i>
                        <span class="sidebar__text last">Cerrar sesión</span>
                    </button>
                </li>

                <!-- Modal: log out -->
                    <dialog class="modal modal__logout" aria-labelledby="modal-title" aria-describedby="modal-description" closedby="any" data-modal="logout">
                        <!-- Contenedor principal -->
                        <div class="modal__container">
                            <!-- Header -->
                            <header class="modal__header">
                                <h2 class="modal__title">¿Desea cerrar su sesión?</h2>
                            </header>

                            <!-- Body -->
                            <section class="modal__body">
                                <div class="modal__image-container">
                                    <img src="/static/media/svg/modals/logout.svg" alt="Ilustración de una mujer con un globo indicando precaución">
                                </div>

                                <p>
                                    Si tiene solicitudes en proceso o archivos sin guardar, 
                                    <strong>estos podrían perderse</strong>.
                                    Asegúrese de haber completado y enviado toda su información antes de salir.
                                </p>
                            </section>

                            <!-- Footer -->
                            <footer class="modal__footer">
                                <form class="modal__form modal__form--logout" method="dialog">
                                    <button class="button">
                                        <i class="fa-solid fa-ban"></i>
                                        Cancelar
                                    </button>
                                    <a href="#" class="button button--red">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                        Cerrar sesión
                                    </a>
                                </form>
                            </footer>
                        </div>
                    </dialog>
                <!-- End Modal: log out -->
            </ul>
        </nav>
    </aside>

    <main class="main">
        <section class="request-list">
            <div class="request-list__header">
                <h2 class="request-list__title">Lista de Solicitudes</h2>

                <nav class="tab-switcher fit-content">
                    <a href="../../../html/templates/admin/pending-request-list.html" class="tabs__button ">Pendientes</a>
                    <a href="../../../html/templates/admin/attended-request-list.html" class="tabs__button activated">Atendidas</a>
                </nav>

                <div class="search" role="search" aria-label="Search workers">
                    <label for="search-workers" class="search__label visually-hidden">Search</label>
                    <div class="search__wrapper">
                        <input type="text" id="search-workers" class="search__input" placeholder="Buscar..." autocomplete="off">
                        <span class="search__icon" aria-hidden="true">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                    </div>
                </div>
            </div>

            <div id="worker-cards-container" class="request-list__main">
            </div>
        </section>
    </main>

    <script src="../../../static/js/components/modals.js"></script>
    <script src="../../../static/js/components/search-bar2.js"></script>
</body>
</html>