/* Animación "modal" */
@keyframes fadeInBackdrop {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@keyframes fadeInModal {
    from {
        transform: scale(0.4);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Animación "gomosa" */
@keyframes gooeyEffect {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(0.9, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}