.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;

    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;

    border: 2px solid var(--border-color-light, #e7e1e1);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-sm);
    transition: box-shadow 0.4s ease;

    &:hover {
        box-shadow: var(--shadow-lg);
    }

    @media (width >= 1080px) {
        position: absolute;
        top: 2rem;
        right: 4rem;

        gap: 4rem;
        align-items: center;

        width: 44rem;
        min-height: calc(100vh - 14rem);
        padding: 4rem;
        margin-bottom: 0;
    }
}

.profile-info__header {
    gap: 2rem;
    width: 100%;
    height: auto;
}

.profile-info__avatar {
    display: none !important;

    @media (width >= 1080px) {
        display: flex !important;

        width: 16rem;
        height: 16rem;
        border: 2px solid var(--color-muted, #62626299);
        border-radius: var(--radius-md);

        background-color: var(--color-bg-muted, #E7E1E1);
    }
}

.profile-info__initial {
    font-size: 12rem;
    font-weight: bold;
}

.profile-info__name {
    font-size: clamp(2.4rem, 2vw, 3.2rem);
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.profile-info__data {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 0.4rem;
    column-gap: 1.2rem;
    width: 100%;

    @media (width >= 1080px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
    }
}

.profile-info__item i {
    margin-right: 0;
    
    @media (width >= 1080px) {
        margin-right: 0.8rem;
    }
}

.profile-info__unit {
    width: 100%;
    height: auto;
    padding: 0.8rem;
    border-radius: var(--radius-md);
    margin-top: auto;

    color: var(--color-white, #fefefe);
    background-color: var(--color-bg-accent, #9f2241);

    font-size: clamp(1.4rem, 2vw, 2.2rem);
    font-weight: 500;
    text-align: center;
}