.tab-switcher {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: fit-content;
    height: 5.6rem;

    border-radius: var(--radius-lg);
    background-color: var(--color-bg-main, #f7f7f7);
    box-shadow: var(--shadow-md);
    transition: box-shadow 0.4s ease;

    &:hover {
        box-shadow: var(--shadow-lg);
    }
}

.tabs__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 4rem;

    border-radius: var(--radius-sm);
    outline: 0.8rem solid var(--color-bg-main, #f7f7f7);
    transition: background-color 0.4s ease, color 0.8s ease, outline 0.4s ease;
}

.tabs__button.activated {
    outline: 0.8rem solid var(--color-bg-main, #f7f7f7);
    background-color: var(--color-bg-accent, #9f2241);
    color: var(--color-white, #fefefe);
    font-weight: 500;
}