.tab-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
    width: 100%;
    height: fit-content;
    
    padding: 0.6rem;

    border: 2px solid var(--border-color-light, #E7E1E1);
    border-radius: var(--radius-md);
    background-color: var(--color-bg-main, #f7f7f7);

    @media (width >= 768px) {
        width: fit-content;
    }
}

.tabs__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.4rem;
    height: 2.8rem;

    border-radius: var(--radius-sm);
    transition: background-color 0.4s ease, color 0.8s ease;

    @media (width >= 768px) {
        width: 16rem;
        height: 3.2rem;
    }
}

.tabs__button.activated {
    background-color: var(--color-bg-dark, #1a1a1a);
    color: var(--color-white, #fefefe);
    font-weight: 500;
}