.status-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    width: 100%;
    height: 3.2rem;
    border-radius: var(--radius-md);

    box-shadow: var(--shadow-sm);
    font-size: clamp(1rem, 2vh, 1.4rem);

    @media (width >= 768px) {
        gap: 0.8rem;
        height: 4rem;
    }
}

.tag--success {
    color: var(--color-success-text);
    background-color: var(--color-success-bg);
    border: 2px solid var(--color-success-border);
}

.tag--warning {
    color: var(--color-warning-text);
    background-color: var(--color-warning-bg);
    border: 2px solid var(--color-warning-border);
}

.tag--error {
    color: var(--color-error-text);
    background-color: var(--color-error-bg);
    border: 2px solid var(--color-error-border);
}

.tag--info {
    color: var(--color-info-text);
    background-color: var(--color-info-bg);
    border: 2px solid var(--color-info-border);
}