<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Structure Card</title>

    <link rel="stylesheet" href="../../../../static/css/base.css">
    <link rel="stylesheet" href="../../../../static/css/pages/request-list.css">
</head>
<body style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <h1 style="margin-bottom: 4rem;">Diseño y Estructura de la Card</h1>

    <article class="card worker-card" style="width: 60rem;">
    <header class="worker-card__header">
        <figure class="worker-card__avatar">
            <img src="" alt="" />
        </figure>
        <div class="worker-card__info">
            <h3 class="worker-card__name">Dudu Fajardinho de los Santos Aveiro</h3>
            <p class="worker-card__curp">
                <i class="fa-solid fa-id-card"></i>
                DFSA890615HTCPH012
            </p>
            <p class="worker-card__email">
                <i class="fa-solid fa-envelope"></i>
                master.quito@hotmail.com
            </p>
        </div>
    </header>
    <section class="worker-card__body">
        <h4 class="worker-card__subject-title">
            Asunto
            <p class="worker-card__date">02/09/2025</p>
        </h4>
        <p class="worker-card__subject-text">Solicitud para baja definitiva del planeta tierra :´(</p>
    </section>
    <footer class="worker-card__footer">
        <button class="button button--dark">
            <i class="fa-solid fa-envelope-circle-check"></i>
            Ver solicitud
        </button>
        <button class="button button--dark">
            <i class="fa-solid fa-reply"></i>
            Responder solicitud
        </button>
    </footer>
</article>
</body>
</html>